.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f6fa;
  font-family: 'Inter', sans-serif;
}

.home-header {
  background-color: #29166F;
  color: white;
  padding: 20px 40px;
}

.home-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-main p {
  font-size: 18px;
  color: #333;
  margin: 20px 0;
}

.logout-btn {
  background-color: #29166F;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.logout-btn:hover {
  background-color: #3b2a91;
}